<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gqz.crm.mapper.CustomerMapper">

    <resultMap id="BaseResultMap" type="com.gqz.crm.pojo.Customer">
        <id property="id" column="cust_id" jdbcType="INTEGER"/>
        <result property="name" column="cust_name" jdbcType="VARCHAR"/>
        <result property="userId" column="cust_user_id" jdbcType="INTEGER"/>
        <result property="createId" column="cust_create_id" jdbcType="INTEGER"/>
        <result property="source" column="cust_source" jdbcType="VARCHAR"/>
        <result property="industry" column="cust_industry" jdbcType="VARCHAR"/>
        <result property="level" column="cust_level" jdbcType="VARCHAR"/>
        <result property="linkman" column="cust_linkman" jdbcType="VARCHAR"/>
        <result property="phone" column="cust_phone" jdbcType="VARCHAR"/>
        <result property="mobile" column="cust_mobile" jdbcType="VARCHAR"/>
        <result property="zipcode" column="cust_zipcode" jdbcType="VARCHAR"/>
        <result property="address" column="cust_address" jdbcType="VARCHAR"/>
        <result property="creationTime" column="cust_createtime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        cust_id,cust_name,cust_user_id,
        cust_create_id,cust_source,cust_industry,
        cust_level,cust_linkman,cust_phone,
        cust_mobile,cust_zipcode,cust_address,
        cust_createtime
    </sql>
    <sql id="whereSql">
        <where>
            <if test="name neq null">
                and cust_name like concat('%',#{name},'%')
            </if>
            <if test="source neq null">
                and cust_source = #{source}
            </if>
            <if test="industry neq null">
                and cust_industry = #{industry}
            </if>
            <if test="level neq null">
                and cust_level = #{level}
            </if>
        </where>
    </sql>

    <select id="getCustomerPage" resultMap="BaseResultMap" parameterType="customer">
        select
        <include refid="Base_Column_List"></include>
        from
        boot_crm.customer a
        left join
        (select dict_id,dict_item_name from boot_crm.base_dict where dict_type_code='002') b
        on
        a.cust_source=b.dict_id
        left join
        (select dict_id,dict_item_name from boot_crm.base_dict where dict_type_code='001') c
        on
        a.cust_industry=c.dict_id
        left join
        (select dict_id,dict_item_name from boot_crm.base_dict where dict_type_code='006') d
        on a.cust_level=d.dict_id

        <include refid="whereSql"></include>

        <if test="start neq null and rows neq null">
            limit #{start},#{rows}
        </if>
    </select>
</mapper>
